---
- name: Update apt cache.
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install apache packages
  ansible.builtin.package:
    name:
      - apache2
      - apache2-utils
    state: present
  notify: Start apache on boot
